/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0; /* Example background color */
  font-family: "Montserrat", sans-serif; /* Use Montserrat font */
  padding-top: 60px; /* Adjust this value according to your navbar height */
}

@media (max-width: 768px) {
  body {
    padding-top: 80px; /* Adjust this value for smaller screens if navbar height is different */
  }
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/background.jpg"); /* Background image */
  background-size: cover;
  background-position: center;
}

.auth-box {
  background-color: rgba(46, 0, 128, 0.5); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px; /* Increase width */
  max-width: 80%; /* Adjust maximum width */
  text-align: center;
  color: white;
}

.auth-box h2 {
  font-family: "Pacifico", cursive; /* Use Pacifico font for headings */
  font-size: 28px; /* Increased font size */
  margin-bottom: 10px;
}

.auth-box h3 {
  font-size: 18px; /* Increased font size */
  color: #888;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px; /* Increased font size */
}

.input-group input {
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px; /* Increased font size */
}

.button-group {
  margin-top: 15px;
}

.button-group button {
  background-color: black;
  color: white;
  border: none;
  padding: 12px 24px; /* Adjust padding for larger button */
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 18px; /* Increased font size */
}

.button-group button:hover {
  background-color: #2e0080;
  color: #fff;
}

.auth-footer {
  margin-top: 15px;
  font-size: 16px; /* Increased font size */
  text-align: center;
  color: #888;
}

.auth-footer a {
  color: #007bff;
  text-decoration: none;
}

.auth-footer a:hover {
  text-decoration: underline;
}
