.platform-title {
  font-size: 2em;
  color: #333;
  margin-top: 30px;
  text-align: center;
}

.contest-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
  background-color: rgb(255, 122, 60);
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contest-title {
  text-align: center;
  font-size: 2.5em;
  color: #02132d;
  margin-bottom: 20px;
}

.loading-spinner {
  text-align: center;
  font-size: 1.5em;
  color: #007bff;
}

.error-message {
  text-align: center;
  font-size: 1.2em;
  color: red;
  margin-bottom: 20px;
}

.no-contests {
  text-align: center;
  font-size: 1.2em;
  color: #555;
}

.contest-item {
  background-color: #02132d;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contest-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contest-details h3 {
  font-size: 1.5em;
  color: #007bff;
  margin-bottom: 10px;
}

.contest-details p {
  font-size: 1.1em;
  color: #555;
  margin: 5px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #0056b3;
}

/* Transition effect */
.transition-item-enter {
  opacity: 0.01;
}

.transition-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
