.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgb(255, 122, 60);
  border-radius: 10px;
  box-shadow: 0 0 15px whitesmoke;
}

.profile-heading {
  text-align: center;
  font-size: 2.5em;
  color: #02132d;
  margin-bottom: 20px;
}

.profile-section {
  background-color: #02132d;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.profile-section h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #007bff;
}

.profile-section p {
  font-size: 1.1em;
  color: sandybrown;
  margin: 8px 0;
}

.profile-section p span {
  font-weight: bold;
  color: white;
}

.profile-section p svg {
  margin-right: 8px;
  color: #007bff;
}

.codeforces-section {
  border-left: 5px solid #1f8acb;
}

.contests-section table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.contests-section th,
.contests-section td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: sandybrown;
}

.contests-section th {
  background-color: #1f8acb;
  color: white;
}

.contests-section tr:nth-child(even) {
  background-color: #f2f2f2;
}
